.todo-container {
  .todo-content {
    width: 80%;
    height: auto;
    margin: 50px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .todo-selec {
    width: 150px;
    height: 20px;
  }
}

.inp-todo {
  width: 200px !important;
}

.backcol {
  color: blue;
}
